<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    ##nav##
    <h1 id="title">About Me</h1>
    <hr>

    <div id="content" class="content">
        $ id <br />
        uid=1000(tanglizi) groups=56(gayhub), 150(acg), 973(acm/icpc), 997(FP)<del>, 1002(erotic pic)</del><br />

        <br />
        $ git config -l<br />
        user.name=<a href="https://github.com/TangliziGit">TangliziGit</a><br />
        user.email=tanglizimail@foxmail.com<br />
        core.editor=vim<br />
        remote.origin.url=<a href="https://github.com/TangliziGit/shell-blog.git">https://github.com/TangliziGit/shell-blog.git</a><br />

        <br />
        $ uname -a<br />
        Linux archlinux 5.4.6-arch3-1 #1 SMP PREEMPT Tue, 24 Dec 2019 04:36:53 +0000 x86_64 GNU/Linux<br />

        <br />
        $ echo $SHELL<br />
        /usr/bin/zsh<br />
    <div>

</body>
</html>

