<!DOCTYPE html>
<html>
<head>
    <title>posts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/9.1.0/styles/github.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js"></script>
</head>
<body>
    <h1 id="title" style="text-align: center"></h1>
    <hr>

    <div id="content">
    </div>

    <script>
        let filename = new URL(window.location).searchParams.get("name");
        
        document.title = "posts - " + filename;
        document.querySelector('#title').innerHTML = filename;
        fetch("/post/" + filename).then(resp => resp.text()).then(resp => {
            let md = window.markdownit({html: true, linkify: true, typographer: true});
            let result = md.render(resp);

            document.querySelector("#content").innerHTML = result;
        }).catch(error => {
            console.log(error);
        });

    </script>
</body>
</html>
