<!DOCTYPE html>
<html>
<head>
    <title>posts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/github-markdown.css">
    <link rel="stylesheet" href="/static/katex.min.css">
    <link rel="stylesheet" href="/static/texmath.css">
    <link rel="stylesheet" href="/static/gruvbox-light.min.css">
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    <script src="/static/highlight.min.js"></script>
    <script src="/static/katex.min.js"></script>
    <script src="/static/texmath.js"></script>
    <script src="/static/markdown-it.min.js"></script>
</head>
<body>
    ##nav##
    <div style="text-align: right">
        <h1 id="title"></h1>
        <small id="date"></small>
    </div>
    <hr>

    <article id="content" class="markdown-body content"></article>
    <div id="gitalk-container" class="content"></div>

    <script>
        const getTags = function(filename) {
            const tags = filename.match(/(?<=_\[).+(?=\])/);
            if (tags === null) return [];

            return tags[0].toLowerCase().split(',');
        };

        let filename = new URL(window.location).searchParams.get("name");
        let split = filename.split('_');
        let _date = split[0];
        let name = split.slice(1).join(' ').replace(/^\[.+?\]/, "");
        let tags = getTags(filename);
        console.log(tags);
        
        document.title = "post - " + name;
        document.querySelector('#title').innerHTML = name;
        document.querySelector('#date').innerHTML = _date;
        fetch("/post/" + filename).then(resp => resp.text()).then(resp => {
            const tm = texmath.use(katex);
            const md = window.markdownit({html: true, linkify: true, typographer: true, highlight: function (str, lang) {
                if (lang && hljs.getLanguage(lang)) {
                  try {
                    return hljs.highlight(lang, str).value;
                  } catch (__) {}
                }
                return '';
              }
            }).use(tm, {delimiters:'dollars', macros:{"\\RR": "\\mathbb{R}"}});
            let result = md.render(resp);

            document.querySelector("#content").innerHTML = result;
        }).catch(error => {
            console.log(error);
        });
    </script>

	<script>
		const gitalk = new Gitalk({
		  clientID: '372031630877aadeefd6',
		  clientSecret: '3e88d8786deee740d2eebe9726b47be61f99855e',
		  repo: 'blog-comments',
		  owner: 'TangliziGit',
		  admin: ['TangliziGit'],
		  id: filename.slice(11).slice(0, 50).replace(/^\[.+?\]/, ""),
          title: _date + " " + name,
          body: "Ref: " + location.href,
          labels: tags,
		  distractionFreeMode: false
		});

		gitalk.render('gitalk-container');
	</script>
	
</body>
</html>
