#title {
    text-align: center;
    margin-top: 0px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
}

.nav ul li {
    float: right;
    padding: 0px 4px;
}

img {
  display: block !important;
  margin: 0 auto;
}

@media (min-width: 960px) {
    .content {
        margin: auto;
        max-width: 800px;
    }

    .markdown-nav-wrapper {
        position: fixed;
        bottom: 2%;
        right: 2%;
        width: 300px;
        z-index: 20;
    }

    .markdown-nav-content {
        border: double;
        background: white;
        padding: 20px;
        height: 420px;
        overflow: auto;
    }

    .markdown-nav-content nav ul {
        padding-left: 20px;
        margin-top: 2px;
    }

    .markdown-nav-btn {
        display: none;
    }
}

@media (max-width: 960px) {
    .small-hidden {
        display: none;
    }

    .markdown-nav-wrapper {
        position: fixed;
        bottom: 10px;
        left: 5px;
        width: 300px;
        z-index: 20;
    }

    .markdown-nav-content {
        border: double;
        background: white;
        padding: 20px;
        height: 420px;
        overflow: auto;
    }

    .markdown-nav-content ul {
        padding-left: 20px;
        margin-top: 2px;
    }

    .markdown-nav-btn {
        height: 30px;
        width: 30px;
        background: black;
        float: left;
        margin: 5px;
        font-size: 26px;
        text-align: center;
    }
}
