#title {
    text-align: center;
    margin-top: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav ul li {
    float: right;
    padding: 0px 4px;
}

@media (min-width: 960px) {
    .content {
        margin: auto;
        max-width: 800px;
    }
}
